html{
    background-image: url(background.jfif);
}
#text, #start{
    background-color:wheat ;
    border-radius: 10px;
    border-radius: 2px;
    padding-left: 10%;
    padding-right: 10%;
    font-family: sans-serif;
    text-align: center;
}
#fine{
    background-color:wheat ;
    border-radius: 10px;
    border-radius: 1px;
    font-family: sans-serif;
}
#image {
    float: right;
    padding-right: 100px;
}
#image1 {
    float: left;
    padding-left: 40px;
}
#image2 {
    float: none;
}
body {
    background-image: wheat;
}
h3:hover{
    cursor: pointer;
}
h3:active{
    transform: translateY(1px);
}
button, #parere{
    background-color: blue;
    color: white;
    border-radius: 10px;
}
button:hover, #parere:hover{
    cursor: pointer;
}
